<div class="table-container">
  <table class="table is-bordered is-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Amount Paid</th>
        <th>Credited SMS</th>
      </tr>
    </thead>
    <tbody>
      <% if @payment_charges.size > 0 %>
        <% @payment_charges.each do |payment_charge| %>
          <tr>
            <td><%= payment_charge.user.email %></td>
            <td><%= number_to_currency(payment_charge.amount.fdiv(100)) %></td>
            <td><%= payment_charge.credited_sms %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3">No payment history available</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>