<div class="table-container">
  <table class="table is-bordered is-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Service Bought</th>
        <th>Amount Paid</th>
        <th>Credited SMS</th>
      </tr>
    </thead>
    <tbody>
      <% if @payment_histories.size > 0 %>
        <% @payment_histories.each do |payment_history| %>
          <tr>
            <td><%= payment_history.user.email %></td>
            <td><%= payment_history.payment_type %></td>
            <td>$<%= payment_history.amount %></td>
            <td><%= payment_history.credited_sms %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4">No payment history available</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>