<nav class="navbar">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="../">
				<%= image_tag "bulma.png", alt: "Logo"%>
			</a>
		</div>
		<div id="navbarMenu" class="navbar-menu">
			<div class="navbar-end">
				<% if user_signed_in? %>
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Account</a>
						<div class="navbar-dropdown">
							<a class="navbar-item">Purchase SMS</a>
							<hr class="navbar-divider">
							<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-item" %>
						</div>
					</div>
				<% else %>
					<%= link_to "Home", root_path, class: class_names("navbar-item", { "is-active": current_page?(root_path) }) %>
					<%= link_to "Log in", new_user_session_path, class: class_names("navbar-item", { "is-active": current_page?(new_user_session_path) }) %>
				<% end %>
			</div>
		</div>
	</div>
</nav>
