/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bulma";

.social-media {
    margin-top: 30px;
    a {
        margin-right: 10px;
    }
}
.field {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
.hero.is-success {
    background: #F2F6FA;
    .nav {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.hero {
    .nav {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.box {
    margin-top: 5rem;
}
.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
    img {
        padding: 5px;
        background: #fff;
        border-radius: 50%;
        -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
        box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    }
}
input {
    font-weight: 300;
}
p {
    font-weight: 700;
}
p.subtitle {
    padding-top: 1rem;
}
.login-hr {
    border-bottom: 1px solid black;
}
.has-text-black {
    color: black;
}
.field {
    padding-bottom: 10px;
}
.fa {
    margin-left: 5px;
}
a.navbar-item.is-active {
    background-color: #fafafa;
    color: #485fc7;
}
@media screen and (min-width: 768px) {
    body {
        padding-top: calc(3.25rem + 20px);
    }
    .navbar {
        padding: 10px 0;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .hero.is-fullheight {
        min-height: calc(100vh - 6.5rem - 40px);
    }
}
